.page-title {
  font-size: 25px;
}

.balance-icon {
  height: 60px;
  width: 120px;
  background: #ffc34a;
  float: left;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.balance-amount {
  font-size: 27px;
}
