/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/nova-dark/theme.css";
/* /Users/mitchellgardepe/Documents/Coding/Angular/projects/my_projects/banking-app/node_modules/primeng/resources/themes/luna-blue/theme/css */

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.top-tab-btns button {
  font-size: 18px;
  font-style: normal;
  background: #ff684a;
}
